.root{
	
	-fx-background-color : #0B132B ;
}

.selectionButton{
	-fx-font-size: 65px;
	-fx-font-family:  Montserrat;
	-fx-font-weight:bold;
	-fx-background-color: #54FFE5, linear-gradient(#52B7B5 10%, #54FFE5 50%, #52B7B5 100%) ;
	-fx-border-radius: 15.0px ;
	-fx-background-radius: 15.0px;
	-fx-text-fill: #1C2541; 
	-fx-effect: dropshadow( gaussian , rgba(60,60,60,1.0), 30, 0.5 , 2 , 2 );
}

.movementButton{
	-fx-font-weight: bold;
	-fx-background-radius: 50;
	-fx-background-color: transparent ;
	-fx-border-style: solid ;
	-fx-border-color: white;
	-fx-border-radius: 100;
	-fx-border-width: 2px;
	-fx-font-size: 50px;
	-fx-text-alignment: center ;
	-fx-text-fill: white;
}

.label{
	-fx-font-size: 50px;
	-fx-font-family:  Montserrat;
	-fx-font-weight:normal;
	-fx-alignment: center ;
	-fx-text-fill: #6FFFE9; 
	
}
